RewriteEngine On

#ARCHIVOS PROHIBIDOS

<Files "conexion.json">
    Require all denied
</Files>
<Files "smtp.json">
    Require all denied
</Files>

#Denegamos el acceso a todo menos index.php y rutas.php

<FilesMatch "\.(json|css|js|pdf|php|html|txt)$">
    Require all denied
</FilesMatch>


<Files "index.php">
    Require all granted
</Files>

<Files "webhookgithub.php">
    Require all granted
</Files>

<Files "verificar.php">
    Require all granted
</Files>

<Files "rutas.php">
    Require all granted
</Files>

<Files "ayudaForm.php">
    Require all granted
</Files>

<Files "captcha.php">
    Require all granted
</Files>

<Directory "storage/img_screens_backend">
    Require all granted
    Options -Indexes
</Directory>

<Directory "storage/img_screens_frontend">
    Require all granted
    Options -Indexes
</Directory>

#CORS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

#Permitir que los archivos .html se accedan sin la extensión y con ella
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [L,QSA]

#Permitir que los archivos .php se accedan sin la extensión y con ella
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L,QSA]

#Redirigir todo lo demás a rutas.php para manejo de rutas en la API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ app/routers/rutas.php [L,QSA]

