<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <!-- Incluir todos los archivos de prueba -->
            <directory>./testing</directory>
        </testsuite>
    </testsuites>
</phpunit>
